<!-- myfirstvis/templates/pyecharts.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Proudly presented by PycCharts</title>
    {% for jsfile_name in script_list %}
        <script src="{{ host }}/{{ jsfile_name }}.js"></script>
    {% endfor %}
</head>

<body>
  {{ myechart|safe }}
  <br>
  <br>
  <a>
      已收到：{{people_num}} 人 作业。
   </a>
   
   <ol>
        {% for key, value in people_dict.items %}
            <li>{{ key }}: {{ value }}</li>
       {% endfor %}
    </ul>

</body>

</html>